@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}
#btn{
  color: white; 
}
#btn:visited{
   color: white;
   text-decoration: none;
}

#btn:hover{
   color:white;
   text-decoration: none;
   transition: all 0.5s ease;
}

.nav{
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-height: 8vh;
   background-color: #694848;
   
}


.logo{
   color: rgb(226,226,226);
   text-transform: uppercase;
   letter-spacing: 5px;
   font-size: 18px;
}

.navlinks{
   display: flex;
   justify-content: space-around;
   width: 15%;
}

.navlinks li{
   list-style-type: none;
}

.navlinks a{
   text-decoration: none;
   color: rgb(226, 226, 226);
   letter-spacing: 2px;
   font-weight: bold;
   font-size: 14px;
}

.navlinks a:hover{
   color: white;
   text-decoration: none;
}
.burger{
   display: none;
}

.burger div{
   width: 25px;
   height: 3px;
   background-color: rgb(266, 266, 266);
   margin: 5px;
   transition: all 0.5s ease;
}

.card{
   width: 12rem;
   margin: auto;
   margin-top: 50px;
   margin-bottom: 50px;
   text-align: center;
   color: white;
}

.card-body{
   background-color: rgb(90, 63, 63);
}

@media screen and (max-width:1250px){
   .navlinks{
      width: 30%;
   }
}

@media screen and (max-width: 768px){
   body{
      overflow-x: hidden;
   }
   .navlinks{
      position: absolute;
      right:0px;
      height: 92vh;
      top: 8vh;
      background-color: #694848;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      transform: translateX(100%);
      transition: transform 0.4s ease-in;
   }
   .navlinks li{
      opacity: 0;
   }
   .burger{
      display: block;
      cursor: pointer;
   }
}

.nav-active{
   transform: translateX(0%);
}

.toggle .line1{
   transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
   opacity: 0;
}
.toggle .line3{
   transform: rotate(45deg) translate(-5px,-6px);
}


@keyframes navlinkfade{
   0%{
      opacity: 0;
      transform: translateX(50px);
   }
   100%{
      opacity: 1;
      transform: translateX(0px)
   }
}